.footer {
    position: fixed;
    background-color: #354A5E;
    color: #fff;
    bottom: 0;
    z-index: 100;
    width: 100%;
    left: 0;
    padding: 10px 0px;
}

.innerFooter {
    width: fit-content;
    display: inline-block;
    padding-right: 20px;
    float: right;
}

.textFooter {
    display:inline-block;
    margin: 0;
}

.innerFooter span {
    float: right;
    
}

.icon {
    margin-left: 10px;
}

.icon:hover {
    transform: scale(1.2);
}